{% extends 'admin/adminbase.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 text-center">
                <h1 class="display-4">
                    {{ title }}
                </h1>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <a class="btn btn-secondary mb-3" href="{{ path('admin_users_create') }}">Create new user</a>
            </div>
        </div>

        <div class="row no-gutters ">
            <div class="col-6 justify-content-center">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <h3>User list:</h3>
                <ul>
                    {% for user in users %}
                        <li> {{ user.fullName ? user.fullName ~ "," }}  {{ user.email }}, {{ user.roles | json_encode }}
                            <a href="{{ path('admin_users_update', {'userId': user.id}) }}">
                                Change user data
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>



{% endblock %}